$sides: ((t, top) (r, right) (b, bottom) (l, left));
$corners: ((tl, top-left) (tr, top-right) (bl, bottom-left) (br, bottom-right));

.#{$prefix}bd {
  @each $width-abbr, $width in $border-widths {
    &#{$width-abbr} {
      border: $width solid;
    }
    @each $side-abbr, $side in $sides {
      &#{$side-abbr}#{$width-abbr} {
        border-#{$side}: $width solid;
      }
    }
  }

  @each $value in (solid, dotted, dashed) {
    &-#{$value} {
      border-style: $value;
    }
  }

  &-hair,
  &t-hair,
  &r-hair,
  &b-hair,
  &l-hair {
    position: relative;
    &:after {
      position: absolute;
      box-sizing: border-box;
      transform-origin: center;
      content: ' ';
      pointer-events: none;
      top: -50%;
      right: -50%;
      bottom: -50%;
      left: -50%;
      border: 0 solid #eee;
      transform: scale(0.5);
    }
  }
  &-hair:after {
    border-width: 1px;
  }
  @each $abbr, $prop in $sides {
    &#{$abbr}-hair {
      border-#{$prop}-width: 1px;
    }
  }
}

@each $radius-abbr, $radius-value in $border-radiuses {
  .#{$prefix}rd#{$radius-abbr} {
    border-radius: $radius-value;
  }
  @each $corner-abbr, $corner-value in $corners {
    .#{$prefix}rd#{$corner-abbr}#{$radius-abbr} {
      border-#{$corner-value}-radius: $radius-value;
    }
  }
}
