.#{$prefix}bd {
  border: 1 + $border-width-unit solid;

  @each $abbr, $prop in $sides {
    &-#{$abbr} {
      border-#{$prop}: 1 + $border-width-unit solid;
    }
  }

  @each $value in $border-width-values {
    &-#{$value} {
      border-width: $value + $border-width-unit;
    }
  }

  @each $value in (solid, dotted, dashed) {
    &-#{$value} {
      border-style: $value;
    }
  }

  @each $name, $value in $border-radiuses {
    &-radius-#{$name} {
      border-radius: $value;
    }
    @each $abbr, $corner in $corners {
      &-radius-#{$abbr}-#{$name} {
        border-#{$corner}-radius: $value;
      }
    }
  }

  &-none {
    border: none;
  }
}
