@each $prop, $abbr in (color: '', background-color: bg-, border-color: bd-) {
  @each $color-name, $color-code in $colors {
    .#{$prefix}#{$abbr}#{'' + $color-name} {
      #{$prop}: #{$color-code};
    }
  }
}
