$colors: (
  white: #fff,
  gray-50: #fafafa,
  gray-100: #f5f5f5,
  gray-200: #eeeeee,
  gray-300: #e0e0e0,
  gray-400: #bdbdbd,
  gray-500: #9e9e9e,
  gray-600: #757575,
  gray-700: #616161,
  gray-800: #424242,
  gray-900: #212121,
  black: #000000,
  primary: #007bff,
  secondary: #6c757d,
  success: #28a745,
  danger: #dc3545,
  warning: #ffc107,
  light: #f8f9fa,
  dark: #343a40
);

@each $prop, $abbr in (color: c, background-color: bg, border-color: bd) {
  @each $color-name, $color-code in $colors {
    .#{$prefix}#{$abbr}-#{'' + $color-name} {
      #{$prop}: #{$color-code};
    }
  }
}
