$justifys-and-values: (
  (start, flex-start) (end, flex-end) (center, center) (between, space-between) (around, space-around)
    (evenly, space-evenly)
) !default;

$items-and-values: (
  (start, flex-start) (end, flex-end) (center, center) (baseline, baseline) (stretch, stretch)
) !default;

$contents-and-values: (
  (start, flex-start) (end, flex-end) (center, center) (stretch, stretch) (between, space-between)
    (around, space-around)
) !default;

.#{$prefix}flex {
  &-initial {
    flex: 0 1 auto;
  }
  &-1 {
    flex: 1 1 0%;
  }
  &-auto {
    flex: 1 1 auto;
  }
  &-none {
    flex: none;
  }

  &-grow {
    flex-grow: 1;
    &-0 {
      flex-grow: 0;
    }
  }
  &-shrink {
    flex-shrink: 1;
    &-0 {
      flex-shrink: 0;
    }
  }

  @each $direction in (row, column) {
    &-#{$direction} {
      flex-direction: $direction;
      &-reverse {
        flex-direction: $direction + -reverse;
      }
    }
  }

  @each $value in (wrap, wrap-reverse, nowrap) {
    &-#{$value} {
      flex-wrap: $value;
    }
  }
}

@each $justify, $value in $justifys-and-values {
  .#{$prefix}justify-#{$justify} {
    justify-content: $value;
  }
}

@each $item, $value in $items-and-values {
  .#{$prefix}items-#{$item} {
    align-items: $value;
  }

  .#{$prefix}self-#{$item} {
    align-self: $value;
  }
}

@each $content, $value in $contents-and-values {
  .#{$prefix}content-#{$content} {
    align-content: $value;
  }
}
