$fontWeights: ((thin, 200), (light, 300), (normal, 400), (medium, 500), (bold, 700), (bolder, 800)) !default;

$fontSans: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
  Droid Sans, Helvetica Neue, sans-serif !default;
$fontSerif: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif,
  Liberation Serif, Georgia, serif !default;
$fontMono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !default;

.#{$prefix}font {
  //browser supported font-family styles
  &-sans {
    font-family: $fontSans;
  }
  &-serif {
    font-family: $fontSerif;
  }
  &-mono {
    font-family: $fontMono;
  }
}

.#{$prefix}font {
  &-italic {
    font-style: italic;
  }
  &-roman {
    font-style: normal;
  }
  &-antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @each $name, $size in $fontSizes {
    &-#{$name} {
      font-size: $size;
    }
  }
  @each $name, $weight in $fontWeights {
    &-#{$name} {
      font-weight: $weight;
    }
  }
}
