$heights: (
  (0, 0) (2by1, 50%) (3by1, 33.33333%) (3by2, 66.66667%) (4by1, 25%) (4by3, 75%) (5by1, 20%) (5by2, 40%) (5by3, 60%)
    (5by4, 80%) (6by1, 16.66667%) (full, 100%) (screen, 100vh) (auto, auto)
) !default;

.#{$prefix}h {
  @each $height, $value in $heights {
    &-#{$height} {
      height: $value;
    }
  }
}
