$sides: ((t, top) (r, right) (b, bottom) (l, left));

.#{$prefix}m {
  @each $space-abbr, $space-value in $spaces {
    &#{$space-abbr} {
      margin: $space-value;
    }
    @each $side-abbr, $side-name in $sides {
      &#{$side-abbr}#{$space-abbr} {
        margin-#{$side-name}: $space-value;
      }
    }
  }
  &x {
    @each $space-abbr, $space-value in $spaces {
      &#{$space-abbr} {
        margin-left: $space-value;
        margin-right: $space-value;
      }
    }
    &-auto {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &y {
    @each $space-abbr, $space-value in $spaces {
      &#{$space-abbr} {
        margin-top: $space-value;
        margin-bottom: $space-value;
      }
    }
  }
}
