@mixin breakpoints() {
  $prefix-bp: $prefix;
  @content ($prefix-bp);

  @each $bp, $breakpoint in $breakpoints {
    $prefix-bp: '#{$bp}_#{$prefix}';
    @media (min-width: $breakpoint) {
      @content ($prefix-bp);
    }
  }
}
