$sides: ((t, top) (r, right) (b, bottom) (l, left));

.#{$prefix}p {
  @each $space-abbr, $space-value in $spaces {
    &#{$space-abbr} {
      padding: $space-value;
    }
    @each $side-abbr, $side-name in $sides {
      &#{$side-abbr}#{$space-abbr} {
        padding-#{$side-name}: $space-value;
      }
    }
  }
  &x {
    @each $space-abbr, $space-value in $spaces {
      &#{$space-abbr} {
        padding-left: $space-value;
        padding-right: $space-value;
      }
    }
  }
  &y {
    @each $space-abbr, $space-value in $spaces {
      &#{$space-abbr} {
        padding-top: $space-value;
        padding-bottom: $space-value;
      }
    }
  }
}
