.#{$prefix}text {
  @each $value in (center, left, right, justify) {
    &-#{$value} {
      text-align: $value;
    }
  }

  @each $value in (underline, overline, line-through) {
    &-#{$value} {
      text-decoration: $value;
    }
  }

  @each $value in (capitalize, uppercase, lowercase) {
    &-#{$value} {
      text-transform: $value;
    }
  }

  &-break {
    word-break: break-word;
    overflow-wrap: break-word;
  }
}

.#{$prefix}ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &-2,
  &-3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
  &-2 {
    -webkit-line-clamp: 2;
  }
  &-3 {
    -webkit-line-clamp: 3;
  }
}
