$widths-and-values: (
  (0, 0) (1d2, 50%) (1d3, 33.33333%) (2d3, 66.66667%) (1d4, 25%) (3d4, 75%) (1d5, 20%) (2d5, 40%) (3d5, 60%) (4d5, 80%)
    (1d6, 16.66667%) (full, 100%) (screen, 100vw) (auto, auto)
) !default;

.#{$prefix}w {
  @each $width, $value in $widths-and-values {
    &-#{$width} {
      width: $value;
    }
  }
}
