$prefix: '' !default;

$colors: (
  white: #fff,
  light: #f8f9fa,
  gray: #8799a3,
  dark: #343a40,
  black: #000000,
  gray-1: #f5f5f5,
  gray-2: #eeeeee,
  gray-3: #e0e0e0,
  gray-4: #bdbdbd,
  gray-5: #9e9e9e,
  gray-6: #757575,
  gray-7: #616161,
  gray-8: #424242,
  gray-9: #212121,
  primary: #007bff,
  secondary: #6c757d,
  success: #28a745,
  danger: #dc3545,
  warning: #ffc107
) !default;

$breakpoints: () !default;

$measures: (
  vw: vw,
  px: px,
  vh: vh,
  em: em,
  pct: '%'
) !default;

$border-radiuses: (-sm: 4rpx, '': 8rpx, -md: 12rpx, -lg: 16rpx, -xl: 20rpx, -full: 50%, -pill: 99999px) !default;

$border-widths: (
  '': 1px,
  -2: 2px,
  -3: 3px
) !default;

$spaces: (-xs: 8rpx, -sm: 16rpx, '': 24rpx, -md: 32rpx, -lg: 40rpx, -xl: 48rpx, -2xl: 56rpx, -3xl: 64rpx) !default;

$font-sizes: (-xs: 24rpx, -sm: 26rpx, '': 28rpx, -md: 32rpx, -lg: 36rpx, -xl: 40rpx, -2xl: 44rpx, -3xl: 46rpx) !default;

$shadows: (
  -xs: (0 0 0 1rpx rgba(0, 0, 0, 0.05)),
  -sm: (0 1rpx 4rpx 0 rgba(0, 0, 0, 0.05)),
  '': (0 1rpx 6rpx 0 rgba(0, 0, 0, 0.1), 0 1rpx 4rpx 0 rgba(0, 0, 0, 0.06)),
  -md: (0 8rpx 12rpx -1rpx rgba(0, 0, 0, 0.1), 0 4rpx 8rpx -1px rgba(0, 0, 0, 0.06)),
  -lg: (0 20rpx 30rpx -6rpx rgba(0, 0, 0, 0.1), 0 8rpx 12rpx -4rpx rgba(0, 0, 0, 0.05)),
  -xl: (0 40rpx 50rpx -10rpx rgba(0, 0, 0, 0.1), 0 20rpx 20rpx -10rpx rgba(0, 0, 0, 0.04)),
  -inner: (inset 0 4rpx 8rpx 0 rgba(0, 0, 0, 0.06))
) !default;

// @import 'scss/setup';
// @import 'scss/mixins';
@import 'scss/variables';
@import 'scss/color';
@import 'scss/display';
@import 'scss/float';
@import 'scss/overflow';
@import 'scss/position';
@import 'scss/effect';
@import 'scss/z-index';
@import 'scss/margin';
@import 'scss/padding';
@import 'scss/width';
@import 'scss/height';
@import 'scss/text';
@import 'scss/background';
@import 'scss/border';
@import 'scss/flex';
// @import 'scss/font';
// @import 'scss/list';
// @import 'scss/ratio';
// @import 'scss/container';
// @import 'scss/grid';
// @import 'scss/cursor';
