$prefix: '' !default;

$breakpoints: () !default;

$measures: (
  vw: vw,
  px: px,
  vh: vh,
  em: em,
  pct: '%'
) !default;

$border-radiuses: (-sm: 4rpx, '': 8rpx, -md: 12rpx, -lg: 16rpx, -xl: 20rpx, -full: 50%, -pill: 99999px) !default;

$border-widths: (
  '': 1px,
  -2: 2px,
  -3: 3px
) !default;

$spaces: (-xs: 10rpx, -sm: 20rpx, '': 30rpx, -md: 40rpx, -lg: 50rpx, -xl: 60rpx) !default;

$font-sizes: (-xs: 20rpx, -sm: 24rpx, '': 28rpx, -md: 32rpx, -lg: 36rpx, -xl: 40rpx, -2xl: 44rpx, -3xl: 46rpx) !default;

$shadows: (
  -xs: (0 0 0 1rpx rgba(0, 0, 0, 0.05)),
  -sm: (0 1rpx 4rpx 0 rgba(0, 0, 0, 0.05)),
  '': (0 1rpx 6rpx 0 rgba(0, 0, 0, 0.1), 0 1rpx 4rpx 0 rgba(0, 0, 0, 0.06)),
  -md: (0 8rpx 12rpx -1rpx rgba(0, 0, 0, 0.1), 0 4rpx 8rpx -1px rgba(0, 0, 0, 0.06)),
  -lg: (0 20rpx 30rpx -6rpx rgba(0, 0, 0, 0.1), 0 8rpx 12rpx -4rpx rgba(0, 0, 0, 0.05)),
  -xl: (0 40rpx 50rpx -10rpx rgba(0, 0, 0, 0.1), 0 20rpx 20rpx -10rpx rgba(0, 0, 0, 0.04)),
  -inner: (inset 0 4rpx 8rpx 0 rgba(0, 0, 0, 0.06))
) !default;

@import 'scss/constant';
@import 'scss/variable';
@import 'scss/mixins';
// @import 'scss/setup';
@import 'scss/color';
@import 'scss/display';
@import 'scss/font';
@import 'scss/flex';
@import 'scss/float';
@import 'scss/overflow';
@import 'scss/position';
@import 'scss/effect';
@import 'scss/z-index';
@import 'scss/margin';
@import 'scss/padding';
@import 'scss/width';
@import 'scss/height';
@import 'scss/text';
@import 'scss/background';
@import 'scss/border';
// @import 'scss/list';
// @import 'scss/ratio';
// @import 'scss/container';
// @import 'scss/grid';
// @import 'scss/cursor';
